#ramitismain {
   border-style: dashed; 
   margin:20px;
   padding: 10px;
   display: grid;
   grid-template-columns: 20% 80%;
}

.ramisright {
   background-color: aquamarine;
   text-align: justify, center;
}
.ramisleft {
   image-orientation: from-image;
   text-align: center;
   background-color: aquamarine;
   padding: auto;
}
.name  {
   font-weight: bold;
   text-align: left;
}
.main {
   font-weight: bold;
   color: blue;
}
.small {
   font-weight: bold;
   color: blue;
}
.smaller {
   color: black;
}
#specialramitis {
   display: grid;
   grid-template-columns: 20% 40% 40%;
   margin: 10;
}

.li {
   text-align: left;
}
.body {
   background-color: bisque;
}
.ramitisright, .ramitismiddle {
   background-color: azure;
}
.ramitisleft{
   background-color: rgb(223, 247, 244);
}
.explanation {
   font-size: large;
}
body {
   font-size: x-large;
}